
* {
	-fx-primary : #282837;
	-fx-secondary :#FFFF8D;
	-fx-primarytext :#B2B2B2;
	-fx-red:red;
}

.root{
	-fx-background-color: -fx-primary;
}


.glyph-icon{
	-fx-fill: -fx-primarytext;
}

.button{
	-fx-text-fill:-fx-primarytext;
	-fx-background-color: -fx-primary;
}


.jfx-radio-button{
	-fx-text-fill:red;
}


/*specific to login screen */

.login-button{
	-fx-border-color: -fx-secondary;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
}

.login-button:hover{
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
}


.text-field{
	-fx-text-fill: -fx-primarytext;
	-fx-font-size: 11pt;
	-jfx-focus-color:-fx-secondary;
	
}

.wrong-credentials{
	-jfx-focus-color:-fx-red;
	-jfx-unfocus-color:-fx-red;
}

/*specific to main screen */

/* Tab pane styling */
.tab{
	-fx-pref-width: 280;
	-fx-pref-height: 60;
	-fx-background-color: -fx-primary;
}
.tab-header-background{
	-fx-background-color: -fx-primary;
	
}

/*Menu Bar styling */
.menu-bar{
	-fx-base:-fx-primary;
	-fx-background-color: -fx-primary;
}

.context-menu{
	-fx-background-color: derive(-fx-primary,30%);
}

.context-menu-item:hover{
	-fx-background-color: derive(-fx-primary,30%);
	
}

/* */
.jfx-hamburger-icon{
	-fx-spacing: 7;
}
.jfx-hamburger-icon StackPane{
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 5;
} 
