
* {
	-fx-primary : #282837;
	-fx-secondary :#FFFF8D;
	-fx-primarytext :#B2B2B2;
	-fx-red:red;
}

.root{
	-fx-background-color: -fx-primary;
}


.glyph-icon{
	-fx-fill: -fx-primarytext;
}

.button{
	-fx-text-fill:-fx-primarytext;
	-fx-background-color: -fx-primary;
	-fx-border-color: -fx-secondary;
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-font-size:10pt;
}

.button:hover{
	-fx-background-color: -fx-secondary;
	-fx-text-fill: -fx-primary;
}

.main-text{
	-fx-fill : -fx-secondary;
	-fx-font-size: 11pt;
	-fx-text-alignment: center;
}

/*specific to login screen */


.text-field{
	-fx-text-fill: -fx-primarytext;
	-fx-font-size: 11pt;
	-jfx-focus-color:-fx-secondary;
	
}

.wrong-credentials{
	-jfx-focus-color:-fx-red;
	-jfx-unfocus-color:-fx-red;
}

/*specific to main screen */

/* Tab pane styling */
.tab{
	-fx-pref-width: 280;
	-fx-pref-height: 60;
	-fx-background-color: -fx-primary;
}
.tab-header-background{
	-fx-background-color: -fx-primary;
	
}

/*Menu Bar styling */
.menu-bar{
	-fx-base:-fx-primary;
	-fx-background-color: -fx-primary;
}

.context-menu{
	-fx-background-color: derive(-fx-primary,30%);
}

.context-menu-item:hover{
	-fx-background-color: derive(-fx-primary,30%);
	
}

/* */
.jfx-hamburger-icon{
	-fx-spacing: 7;
}
.jfx-hamburger-icon StackPane{
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 5;
} 

/*toolbar styling */
.toolbar{
	-fx-background-color: -fx-primary;
}


.toolbar-buttons{
	-fx-background-color: derive(-fx-primary , -30%);
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
}

.toolbar-buttons:hover {
	-fx-background-color:-fx-secondary;
	-fx-text-fill: 	-fx-primary;
}

.toolbar-buttons:hover .glyph-icon{
	-fx-fill:-fx-primary;
}


.gridview{
	-fx-background-color: derive(-fx-primary,-50%);
}


.dialog-button{
	-fx-background-color: rgb(36,146,255);
	-fx-border-color: rgb(36,146,255);
	-fx-text-fill: white;
}

.dialog-button:hover{
	-fx-background-color: -fx-primary;
	-fx-border-color: -fx-primary;
	-fx-text-fill:white;
}


/*chart styling */
.data0.chart-pie{
	-fx-pie-color:-fx-secondary;
	-fx-border-color:derive(-fx-secondary,20%)
}

.data1.chart-pie{
	-fx-pie-color:derive(blue,-20%);
	-fx-border-color:derive(blue,20%)
}

.chart-pie-label{
	-fx-fill: -fx-secondary;
}

/*table View styling */

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: derive(-fx-primary,-20%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}


.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler{
	-fx-background-color: -fx-secondary;
}